h3,
p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-size: 24px;
}
.container {
  width: 1440px;
  height: 1024px;
}

.content {
  height: 1024px;
}

.img-item {
  width: 520px;
  height: 670px;
  background-color: #005286;
  margin-top: -70px;
}

.content-section {
  background-color: rgb(41, 135, 182, 75%);
}

.img-section {
  width: 33% !important;
}


h2{
    font-size: 32px;
    font-weight: bold;line-height: 100%;
}

.text{
    font-size: 16px;
}