.header-container {
  background-color: #ffffff;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img, .header-img-logo {
  transition: width 0.3s ease, transform 0.3s ease; /* Добавляем анимацию для логотипов */
}

.header-img {
  width: 120px;
}

.header-img-logo {
  width: 120px;
}

/* Анимация для элементов списка */
.nav-list li {
  margin: 0 var(--li-margin, 20px);
  transition: transform 0.3s ease, background-color 0.3s ease; /* Добавляем анимацию */
}

.nav-list li:hover {
  transform: scale(1.05); /* Увеличиваем элемент при наведении */
  background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
}

/* Навигация */
.nav-list {
  display: flex;
  flex-direction: row; /* Горизонтальное расположение элементов */
  align-items: center; /* Выравнивание элементов по центру */
  justify-content: center; /* Центрирование элементов */
  gap: var(--nav-item-gap, 10px); /* Расстояние между элементами навигации с использованием переменной */
}

.nav-item {
  background-color: #5ebcea;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  color: #000;
  transition: font-size 0.3s ease, padding 0.3s ease;
  white-space: nowrap; /* Не переносить текст на новую строку */
}

/* Элементы переключателя */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ebcea;
  border-radius: 10px;
  cursor: pointer;
  width: auto; /* Автоматическая ширина для тумблера */
}

.toggle {
  display: flex;
  flex-direction: row; /* Горизонтальное размещение элементов тумблера */
  width: auto; /* Автоматическая ширина для тумблера */
}

.toggle-item {
  flex: 1; /* Каждый элемент тумблера занимает равную ширину */
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-item.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toggle-item.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: #008dd2;
  color: #fff;
}

/* Бургер-меню */
.burger-menu {
  display: none;
}

.burger-icon {
  background-color: #000;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  transition: 0.3s;
}

/* Мобильные экраны */
@media (max-width: 375px) {
  .header-img, .header-img-logo {
    width: 80px;
  }

  .nav-list {
    gap: 5px; /* Меньшее расстояние между элементами на маленьких экранах */
  }

  .nav-item {
    font-size: 12px;
    padding: 8px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .header-img:hover,
  .header-img-logo:hover {
    transform: scale(1.1); /* Увеличиваем логотипы при наведении */
  }

  .nav-list li:hover {
    transform: scale(1.1); /* Увеличиваем элемент списка при наведении */
    background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
  }

  li {
    margin: 0 10px; /* Уменьшенные отступы на маленьких экранах */
  }
}

@media (min-width: 376px) and (max-width: 430px) {
  .header-img, .header-img-logo {
    width: 90px;
  }

  .nav-list {
    gap: 8px; /* Среднее расстояние между элементами */
  }

  .nav-item {
    font-size: 14px;
    padding: 10px;
  }

  .header-img:hover,
  .header-img-logo:hover {
    transform: scale(1.1); /* Увеличиваем логотипы при наведении */
  }

  .nav-list li:hover {
    transform: scale(1.1); /* Увеличиваем элемент списка при наведении */
    background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
  }

  li {
    margin: 0 15px; /* Средние отступы */
  }
}

@media (min-width: 768px) {
  .header-img, .header-img-logo {
    width: 120px;
  }

  .nav-list {
    gap: 10px; /* Стандартное расстояние между элементами */
  }

  .nav-item {
    font-size: 16px;
    padding: 12px;
  }

  .header-img:hover,
  .header-img-logo:hover {
    transform: scale(1.1); /* Увеличиваем логотипы при наведении */
  }

  .nav-list li:hover {
    transform: scale(1.1); /* Увеличиваем элемент списка при наведении */
    background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
  }

  li {
    margin: 0 20px; /* Стандартные отступы */
  }
}

@media (min-width: 1024px) {
  .header-img, .header-img-logo {
    width: 135px;
  }

  .nav-list {
    gap: 12px; /* Увеличенное расстояние между элементами */
  }

  .nav-item {
    font-size: 18px;
    padding: 14px;
  }

  .header-img:hover,
  .header-img-logo:hover {
    transform: scale(1.1); /* Увеличиваем логотипы при наведении */
  }

  .nav-list li:hover {
    transform: scale(1.1); /* Увеличиваем элемент списка при наведении */
    background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
  }

  li {
    margin: 0 25px; /* Увеличенные отступы */
  }
}

@media (min-width: 1440px) {
  .header-img, .header-img-logo {
    width: 160px;
  }

  .nav-list {
    gap: 15px; /* Еще большее расстояние между элементами */
  }

  .nav-item {
    font-size: 20px;
    padding: 16px;
  }

  .header-img:hover,
  .header-img-logo:hover {
    transform: scale(1.1); /* Увеличиваем логотипы при наведении */
  }

  .nav-list li:hover {
    transform: scale(1.1); /* Увеличиваем элемент списка при наведении */
    background-color: #4a9ed1; /* Изменяем цвет фона при наведении */
  }

  li {
    margin: 0 30px; /* Максимальные отступы */
  }
}
