header {
  background-color: #ffffff;
  height: auto;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.header-img-logo {
  width: 135px;
}

.active {
  border-radius: 12px;
  background-color: #008dd2;
}
.header-img {
  width: 184px;
  // margin-top: 26px;

  /* По умолчанию для мобильных устройств */
  // height: auto; /* Чтобы сохранять пропорции изображения */

  @screen sm {
    // margin-top: -56px;
    margin-top: auto;
    width: 160px;
  }

  @screen md {
    width: 140px; /* Для средних экранов (ноутбуки) */
  }

  @screen lg {
    width: 160px; /* Для больших экранов (настольные ПК) */
  }

  @screen xl {
    width: 180px;
    margin-top: -8px; /* Для очень больших экранов */
  }

  @screen 2xl {
    width: 200px; /* Для сверхшироких экранов */
  }
}

.nav-list {
  @apply flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  @screen sm {
    gap: 40px; /* Для небольших экранов (планшеты) */
  }

  @screen md {
    .nav-item {
      width: 70px;
      height: 50px;
      font-size: 16px;
    }

    .toggle-container {
      width: 100px;
      height: 50px;
      font-size: 16px;
    }

    gap: 0px; /* Для средних экранов (ноутбуки) */
  }

  @screen lg {
    .toggle-container {
      width: 140px;
      height: 50px;
      font-size: 16px;
    }

    .nav-item {
      width: 100px;
      height: 50px;
      font-size: 16px;
    }

    gap: 20px; /* Для больших экранов (настольные ПК) */
  }

  @screen xl {
    .toggle-container {
      width: 140px;
      height: 50px;
      font-size: 18px;
    }

    .nav-item {
      width: 140px;
      height: 50px;
      font-size: 18px;
    }

    gap: 20px; /* Для больших экранов (настольные ПК) */
  }

  @screen 2xl {
    .toggle-container {
      width: 200px;
      height: 50px;
      font-size: 20px;
    }

    .nav-item {
      width: 220px;
      height: 50px;
      font-size: 20px;
    }

    gap: 20px; /* Для больших экранов (настольные ПК) */
  }
}

.nav-item {
  display: flex;
  width: 102px;
  height: 50px;
  background-color: rgb(0, 141, 210, 0.5);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

a {
  color: black;
  border-radius: 20%;
  font-size: 24px;
  text-align: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Ширина тумблера */
  background-color: #5ebcea; /* Цвет фона слева */
  border-radius: 10px;

  cursor: pointer;
}

.toggle-container .toggle {
  display: flex;
  width: 100%;
}

.toggle-item {
  width: 50%; /* Каждая кнопка занимает половину ширины */
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: #000;
}

@media (min-width: 375px) {
  .header {
    height: 20vh;
  }
  .nav-item {
    width: 70px;
  }
}

@media (max-width: 430px) {
  .nav-item {
    width: 70px;
  }
}
