body {
  // background-color: aqua;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background-blend-mode: 80%;
}


header {
  background-color: #ffffff;

  height: 180px;
}

.header-img {
  width: 150px; /* По умолчанию для мобильных устройств */
  height: auto; /* Чтобы сохранять пропорции изображения */

  @screen sm {
    width: 120px; /* Для небольших экранов (планшеты) */
  }

  @screen md {
    width: 140px; /* Для средних экранов (ноутбуки) */
  }

  @screen lg {
    width: 160px; /* Для больших экранов (настольные ПК) */
  }

  @screen xl {
    width: 180px; /* Для очень больших экранов */
  }

  @screen 2xl {
    width: 200px; /* Для сверхшироких экранов */
  }

  height: auto; /* Для сохранения пропорций изображения на всех разрешениях */
}

.nav {
  display: flex;
}

.nav-list {
  @apply flex;

  gap: 20px; /* По умолчанию для мобильных устройств */

  @screen sm {
    gap: 40px; /* Для небольших экранов (планшеты) */
  }

  @screen md {
    gap: 60px; /* Для средних экранов (ноутбуки) */
  }

  @screen lg {
    gap: 80px; /* Для больших экранов (настольные ПК) */
  }

  @screen xl {
    gap: 100px; /* Для очень больших экранов */
  }

  @screen 2xl {
    gap: 120px; /* Для сверхшироких экранов */
  }
}

.nav-item {
  display: flex;
  width: 102px;
  height: 50px;
  background-color: rgb(0, 141, 210, 0.5);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.nav-item {
  font-size: 16px;
  font-weight: bold;
}

a {
  color: black;

  border-radius: 20%;
  font-size: 24px;
  text-align: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Ширина тумблера */
  background-color: #5ebcea; /* Цвет фона слева */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.toggle-container .toggle {
  display: flex;
  width: 100%;
}

.toggle-item {
  width: 50%; /* Каждая кнопка занимает половину ширины */
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: #000; /* Цвет текста */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-item.right {
  background-color: #5ebcea; /* Цвет фона слева */
}

.toggle-item.active {
  // background-color: #0066cc;
  background-color: #419fda; /* Цвет фона справа */
}

