body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}

h3,
p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-size: 24px;
}

.container {
  width: 100%; /* Занимает всю доступную ширину */
  height: 1024px; /* Можно изменить по необходимости */
  margin: 0 auto;
}

.content {
  height: 1024px; /* Можно изменить по необходимости */
}

.img-item {
  width: 520px; /* Занимает всю доступную ширину */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  background-color: #005286;
}

.content-section {
  width: 936px; /* Занимает всю доступную ширину */
  background-color: rgba(41, 135, 182, 0.75);
  padding: 16px; /* Можно настроить отступы по вашему желанию */
}

.img-section {
  position: relative; /* Обеспечивает корректное позиционирование внутреннего содержимого */
}

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 100%;
}

.text {
  font-size: 16px;
}

/* Адаптивный дизайн для мобильных устройств от 375px до 639px */
@media (min-width: 375px) and (max-width: 639px) {
  .img-item {
    width: 236px;
    height: 280px;
  }

  .content-section {
    width: 100%;
    height: 260px;
  }

  .bio-title {
    font-size: 16px;
  }

  .bio-text {
    font-size: 8px;
    line-height: 10px;
  }
}

/* Адаптивный дизайн для планшетов от 640px до 768px */
@media (min-width: 640px) and (max-width: 768px) {
  .img-item {
    width: 450px;
  }

  .content-section {
    width: 330px;
  }

  .bio-title {
    font-size: 18px;
  }

  .bio-text {
    font-size: 14px;
    line-height: 18px;
  }
}

/* Адаптивный дизайн для планшетов и небольших ноутбуков от 770px до 992px */
@media (min-width: 770px) and (max-width: 992px) {
  .img-item {
    width: 450px;
  }

  .content-section {
    width: 390px;
    font-size: 20px;
  }

  .bio-title {
    font-size: 18px;
  }

  .bio-text {
    font-size: 18px;
    line-height: 20px;
  }
}

/* Адаптивный дизайн для ноутбуков и больших экранов от 993px до 1440px */
@media (min-width: 993px) and (max-width: 1440px) {
  .img-item {
    width: auto;
    height: 640px;
  }

  .content-section {
    width: 800px;
  }
}

/* Адаптивный дизайн для больших экранов от 1444px до 1600px */
@media (min-width: 1443px) and (max-width: 1600px) {
  .img-item {
    width: 520px;
    height: 580px;
  }

  .content-section {
    width: 921px;
  }
}
