// body{
//   margin: 0 auto;
// }
// h3,
// p {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
// }

// p {
//   font-size: 24px;
// }
// .container {
//   width: 1440px;
//   height: 1024px;
// }

// .content {
//   height: 1024px;
// }

// .img-item {
//   width: 630px;
//   height: 670px;
//   background-color: #005286;
//   margin-top: -70px;
// }

// .content-section {
//   width: 920px;
//   background-color: rgb(41, 135, 182, 75%);
// }

// .img-section {
//   width: 33% !important;
// }

// h2{
//     font-size: 32px;
//     font-weight: bold;line-height: 100%;
// }

// .text{
//     font-size: 16px;
// }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3,
p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-size: 24px;
}

.container {
  width: 100%; /* Занимает всю доступную ширину */
  height: 1024px; /* Можно изменить по необходимости */
  margin: 0 auto;
}

.content {
  height: 1024px; /* Можно изменить по необходимости */
}

.img-item {
  width: 520px; /* Занимает всю доступную ширину */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  background-color: #005286;
  // margin-top: -70px; /* При необходимости скорректируйте отступ */
}

.content-section {
  width: 936px; /* Занимает всю доступную ширину */
  background-color: rgba(41, 135, 182, 0.75);
  padding: 16px; /* Можно настроить отступы по вашему желанию */
}

.img-section {
  // width: 100%; /* Занимает всю доступную ширину */
  position: relative; /* Обеспечивает корректное позиционирование внутреннего содержимого */
}

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 100%;
}

.text {
  font-size: 16px;
}

@media (min-width: 375px) and (max-width: 639px) {
  .img-item {
    margin: 0 auto;

    width: 230px;
    height: 280px;
    background-color: #005286;
  }

  .title{
    width: 160px;
    height: 16px;
    font-weight: bold;
    text-align: center;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .img-item {
    width: 450px;
    height: auto;
    background-color: #005286;
  }

  .content-section {
    width: 330px;
    height: 920px;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .img-item {
    width: 450px;
    height: auto;
    background-color: #005286;
  }

  .content-section {
    width: 542px;
    height: 740px;
  }
}

@media (min-width: 993px) {
  // Для ноутбуков и больших экранов

  .img-item {
    width: 500px;
    height: 580px;
    background-color: #005286;
  }

  .content-section {
    width: 526px;
    height: 740px;
  }
}
